*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    text-decoration: none;
}
body{
    max-width: 1343px;
    margin: 0px auto;
    min-height: 100vh;
    overflow-x: hidden;
    
}
header ul{
    width: inherit;
    display:flex;
    flex-wrap: wrap;
    
}
header  li {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: rgb(27, 26, 26);
    width: calc(100% / 3);
    background-color: cadetblue;
    cursor: pointer;
}
li:hover{
    background-color: rgb(138, 122, 101);
}
h1{
        width: 100%;
        background-color: rgb(129, 129, 104);
        text-align: center;
        font-family: cursive;
}
p{
        width: 100%;
        text-align: center;
        padding: 20px;
        font-family: cursive;
        
}

.navbar{
    width: 100%;
    float: left;
    background-color: aliceblue;
    cursor: pointer;
}

.navbar ul li{
    
    font-size: 50px;
    display: inline-flex;
    padding-right: 50px ;
    
}
#y{
    display: none;
    background-color: rgb(21, 214, 147);
}
#w{
    display: none;
    background-color:greenyellow;
}
#z{
    display: none;
    background-color: lime;
}


